<%= render 'left' %>
<div class="col-md-7">
<h5><span class="glyphicon glyphicon-check" aria-hidden="true"></span> トレンド<div style='color: #aaa;'>記事の新規順に表示</div></h5>
<table class='table table-hover table-inverse'>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td>
        <%= link_to(content.user) do %>
         <%= attachment_image_tag(content.user, :profile_image, fallback: 'qiita.jpeg', size:'50x50') %>
         <% end %>
         <%= link_to(content) do %> 
        <%= content.title %> (<%= time_ago_in_words(content.created_at) %>前)
        <% end %>
        <%= link_to(content.user) do %>
        <span style="color: #aaa;">by <%= content.user.name %></span>
        <% end %>
         <br>
          <%= link_to(content) do %>
        <%= link_to "#{content.comments.count} コメント", content_path(content.id) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contents, class: "paginate" %>
</div>
 <%= render 'right' %>
