<div class ="col-md-1">
<% if @content.favorited_by?(current_user) %> 
    <%= link_to content_favorites_path(@content), method: :delete do %>
      <i class="glyphicon glyphicon-heart" style='color: pink; font-size: 40px;'></i> <br>
      <span style="font-size: 20px;"><%= @content.favorites.count  %></span> いいね
    <% end %>
<% else %>
    <%= link_to content_favorites_path(@content), method: :post do %>
      <i class="glyphicon glyphicon-heart" style='color: pink; font-size: 40px;'></i> <br>
      <span style="font-size: 20px;"><%= @content.favorites.count  %></span> いいね
    <% end %>
<% end %>
</div>

<div class ="col-md-7">
<% if @content.user == current_user %>
<%= link_to '編集する', edit_content_path(@content), class: 'glyphicon glyphicon-pencil' %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">メニュー1</a></li>
            <li><a href="#">メニュー2</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to '削除', @content, method: :delete, data: { confirm: '本当に消しますか？' } %></li>
          </ul>
        </li>
<% end %>
<h1 style='border-bottom: 10px solid yellow; text-align: center;'><strong class="big-title">
<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>   
<%= @content.title %></strong></h1>
<h2 style='text-align: center;'><span class="label label-default"><%= @content.tag %></span></h2>
<br> <br> <br>
<span style='font-size: 20px;'><%= @content.body %></span>
</div>

<div class = 'col-md-4'>
<div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
        <h2 class="comment-count"><%= @content.comments.count %>件コメント</h2>
    </div>

<ol>
    <% @content.comments.each do |comment| %>
        <li>
            
                    <%= link_to (comment.user) do %>
                        <%= comment.user.name %>
                    <% end %>
                        <%= comment.created_at.strftime('%Y/%m/%d') %> <br>
                    <%= comment.comment %>
                
        </li>
    <% end %>
</ol>

<%= form_for [@content, @comment] do |f| %>
    <div class="row">
        <div class="col-md-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "記事へのコメントはここに" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right btn-primary" %>
<% end %>
</div>
